body {
  background-color: rgb(214, 211, 211);
  margin: 0px;
}

.header {
  background: linear-gradient(to right, rgb(214, 211, 211), rgb(58, 58, 58));
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: red;
}

.container {
  display: flex;
  justify-content: center;
}

.btnBack, .btnNext {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
}

.btnBack {
  background-image: url("FilmTapeBack.png");
  background-repeat: no-repeat;
  opacity: 0.9;
}

.btnNext {
  background-image: url("FilmTapeNext.png");
  background-repeat: no-repeat;
  opacity: 0.9;
}

.bottom {
  background: linear-gradient(to right, rgb(214, 211, 211), rgb(58, 58, 58));
  padding: 30px;
  margin: 0px;
}

@media all and (max-width: 800px) {
  .header {
      font-size: 15px;
  }
  
  .pics {
      width: 300px;
  }
  
  .btnBack, .btnNext {
      font-size: 35px;
  }
}

@media all and (max-width: 550px) {
  .header {
      font-size: 10px;
  }
  
  .pics {
      width: 200px;
  }
  
  .btnBack, .btnNext {
      font-size: 25px;
  }

  .btnBack, .btnNext {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}